<div class="friends-list">
  <% unless @user.friends.empty? %>
  <table class="table">
    <tr>
      <th>Friend</th>
      <th>Status</th>
    </tr>
    <% @user.friends.each do |friend| %>
    <tr>
      <td><%= link_to friend.name, user_items_path(friend) %></td>

      <td><% if @user = current_user || current_user.pending_friends.include?(@user) || current_user.friends.include?(@user) %>
        <%= link_to ' [Unfriend] ', user_friendship_path(:user_id => current_user, :id => friend.id), :method => :delete, :confirm => 'Are you sure?' %>
      </td>
    </tr>
      <% end %>
    <% end %>
    <% else %>

     <p>None<p>

    <% end %>
  </table>
</div>
