<div class="view-pending">
  <% unless @user.pending_friends.empty? %>
    <% @user.pending_friends.each do |friend| %>
      <ul>
        <li><%= friend.name %>

        <% if @user == current_user %>

          <%= link_to '[Accept]', user_friendship_path(:user_id => current_user, :id => friend.id), :method => :put, :confirm => 'Accept friend request! Are you sure?' %> |
          <%= link_to '[Reject]', user_friendship_path(:user_id => current_user, :id => friend.id), :method => :delete, :confirm => 'Reject friend request! Are you sure?' %>
          <% end %>

        </li>


    <% end %>
    <% else %>

    <% end %>
     </ul>
</div>
