<%= render 'nav' %>

<% unless @user == current_user || current_user.requested_friends.include?(@user) || current_user.friends.include?(@user) || current_user.pending_friends.include?(@user) %>
  You do not have permission to access this page!
<% else %>

<div class="friend-container container">
  <div class="main">
    <div class="view-friends">
      <h2>My Friends</h2>
      <%= render 'friends' %>
    </div>
  </div>
    <div class="aside">
      <h3>Friendship Requests</h3>
      <%= render 'requested_friends' %>
      <div class="bside">
        <h3>Pending Friendships</h3>
        <%= render 'pending_friends'  %>
      </div>
     </div>
  <% end %>
</div>

