<div class="container2">
  <div class="row">
    <div class="span12">
      <table class= "table">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th></th>
        </tr>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= button_to "Friend Request",friendship_index_path, :method => "post" %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>



<%= debug(params) if Rails.env.development? %>
