<div class= "container">
  <div class= "row">
     <div class="offset3 span6">
        <h1>Edit Item</h1>
      </div>
  </div>

  <div class= "row">
      <div class="offset3 span6">
        <%= render 'form' %>

        <li><%= link_to 'My Items', edit_user_path(current_user) %></li>

      </div>
  </div>

</div>
