<div class= "container">
    <li><%= link_to 'My Items', edit_user_path(current_user) %></li>
  <div class= "row">
     <div class="offset3 span6">
        <h1>Edit Item</h1>
      </div>
  </div>

  <div class= "row">
      <div class="offset3 span6">

        <%= render 'form' %>

      </div>
  </div>

</div>
