<div class="container">
    <div class="row">
        <div class="span12">
            <table class= "table">
              <tr>
                <th>Avatar</th>
                <th>Item</th>
                <th>Category</th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            <% @items.each do |item| %>
              <tr>
                <td></td>
                <td><%= link_to item.name, user_item_path(@user, item) %></td>
                <td><%= item.category %></td>
              </tr>
            <% end %>
            </table>
        </div>
    </div>
</div>


<%= debug(params) if Rails.env.development? %>
