// Place all the styles related to the friends controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  .friend-container{
    margin: 0 auto;
    width: 75%;
  }

  .main{
    float: right;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
  }

  .aside{
    float:left;
    width: 25%;
    border-radius: 8px;
    margin-bottom: 20px;

  }

  .bside{
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }

  .view-friends{
    clear: both;
    width:70%;
    margin-left: 16.5%;
  }

  .friends-list{
    width: 70%;
    margin-left: 16.5%;
  }

  .friends-list li{
    display: inline;

  }

  .friends-list a{
    font-size: 24px;
  }


  .view-friends h2{
    text-align: center;
  }

  .friends-list ul{
    list-style-type: none;
  }

  .friends-list a{
    text-decoration: none;
  }

  .view-friendrequests ul{
    list-style-type: none;
  }

  .view-friendrequests a{
    text-decoration: none;
  }

  .view-pending ul{
    list-style-type: none;
  }

  .view-pending a{
    text-decoration: none;
  }
