 @import "bourbon";

*{
  box-sizing: border-box;
}

body{

}

#nav-container{
  width: 100%;
}

#nav{
  position: fixed;
  top: 0;
  width: 100%;

  -webkit-box-shadow: 0px 0px 8px 0px #000000;
  -moz-box-shadow: 0px 0px 8px 0px #000000;
  box-shadow: 0px 0px 8px 0px #000000;
  background-color: rgba(1, 1, 1, 0.8);
  color: rgba(1, 1, 1, 0.8);
  z-index: 10;

}

#nav ul{
  list-style-type: none;
  text-align: center;
}

#nav li{
  display: inline-block;
  color: white;
}

#nav a{
  padding: .05em 2em;
  text-decoration: none;
  display: block;
  color: white;
}

#nav a:hover{
  color: #fff;
  background-color: #369;
}


.wrapper{
  max-width: 1280px;
  min-height: 753px;
  margin: 5%;
  background-image: url(dibbs-instagram-bg.jpg);
  background-size: contain;
  @include clearfix;
}

.alert{
  margin-top: 2%;
  text-align: center;
}

.notice{
  margin-top: 2%;
  text-align: center;
}

.form{
  margin-right: 5%;
  float: right;
  border: 5px solid #292929;
  outline: 5px solid #e3e3e3;
  margin-top: 8%;
  padding: 50px;
  width: 30%;
  background-color: rgba(245,245,245,1);
}

.form ul{
  margin-bottom: 25px;
}

.form li{
  display: inline;
}

.form h2{
  margin-bottom: 20px;
  display: inline;
  text-size: 1em;
}

.signup{
  margin-top: 6%;
  padding: 20px;
  width: 35%;
}

.signup label{
  margin-left: 12%;
}


.signup input{
  margin-left: 12%;
  width: 75%;
}

input#user_receives_notifications{
  width: 2%;
}

label#user_recieves_notifications{
  display: inline;
  text-align: left;
  width: 127px;
}


h1{
  margin-left: 5%;
}


input{
  width: 100%;
  padding: 5px 0px;
  margin-top: 10px;
  margin-bottom: 15px;
  color: black;
  border: 1px solid #781351
}

input[type="submit"] {
  color: white;
  width: 50%;
  margin-bottom: 10px;
}

span{
  text-decoration: none;
  color: #9b856c;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 13px;
}

.submit input{
  color: #000;
  background: #ffa20f;
  border: 2px outset #d7b9c9
}

.forgot input[type="submit"] {
  color: white;
  width: 60%;
  margin-bottom: 10px;
  border: 2px outset #d7b9c9;
  background: #2c77ba;
}

